@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(240, 240,240);
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: black;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.brand-logo-name {
  margin-left: 1rem;
}

.main-nav ul, .footer-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a, .footer-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover, .footer-nav a:hover  {
  color: #D80027;
}

.main-header, .main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  height: 140px;
}

.main-footer {
  height: 70px;
  background-color: #202027;
  font-weight: bold;
}

.social-link img {
  width: 1em;
  margin-right: .25rem;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.title {
  font-weight: 900;
  font-size: 3em;
}

.subtitle {
  font-weight: 300;
  font-size:0.9em;
  color: #708090;
  margin-bottom: 1rem;
}

.btn {
  color: white;
  background-color: #D80027;
  padding: .75rem 1.5rem;
  border-radius: 1.5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #2180d8;
}

.btn:focus {
  background-color: #2796ff;
}


/*Index*/

.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.home-main-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.home-main-section .lady-image {
 /* background-image: url(images/xviruins.png);*/
  flex-grow: 1;
  max-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-bottom: 20px;
}

.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}

@media (max-width: 900px) {
  .home-main-section .img-wrapper {
    display: none;
  }

  .home-main-section {
    justify-content: center;
  }
}

.home-page-circle-1 {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  bottom: 5vw;
  left: 5vw;
  z-index: -1;
}

.home-page-circle-2 {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  top: 15vh;
  left: 30vw;
  z-index: -1;
}

.home-page-circle-3 {
  position: absolute;
  overflow: hidden;
  width: 5vw;
  height: 5vw;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.home-page-circle-4 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  top: 0vh;
  right: 0vw;
  z-index: -1;
}

.home-page-circle-5 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  top: 75vh;
  right: 50vw;
  z-index: -1;
}

.home-page-circle-6 {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  top: 20vh;
  right: 33vw;
  z-index: -1;
}

.home-page-circle-7 {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  bottom: 35vw;
  left: 15vw;
  z-index: -1;
}

.home-page-circle-8 {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  top: 60vh;
  right: 10vw;
  z-index: -1;
}

.home-page-circle-9 {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  top: 50vh;
  left: 32vw;
  z-index: -1;
}

.home-page-circle-10 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  bottom: 0vh;
  right: 25vw;
  z-index: -1;
}

.home-page-circle-11 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  top: 15vh;
  right: 40vw;
  z-index: -1;
}

.home-page-circle-12 {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  top: 500vh;
  right: 20vw;
  z-index: -1;
}

.home-page-circle-3::before {
  content: "";
  transform: translate(40%, 40%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
